@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ----- DEFAULT STYLING / GENERIC CLASSES ----- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

section {
  background-color: rgb(245, 245, 245);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.blue {
  color: #0000b2;
}

p {
  line-height: 1.5;
  font-size: 16px;
}


/* ----- LANDING PAGE ----- */

#landing-page {
  min-height: 100vh;
}


/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}

#personal-logo {
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}


/* HEADER */

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 500px
}

.social__list {
  margin-top: 16px;
  /* top teck companies increment by either 4px or 8px - usually margins/padding are incremented by 8px & font-sizes are incremented by 2*/
}